
.mmmmm{
  width: 100%;
}
.HeaderImage {
  background: url('../img/background1.jpg') no-repeat fixed center center;
  background-size: cover;
  width: 97%;
  margin: 2px auto;
  height: 830px;
  align-items: center;
}
