@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  background: url('../img/background.jpg') no-repeat;
  background-size: cover;
  width: 97%;
  margin: 2px auto;
  height: 830px;
  align-items: center;
}


body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #f7fbff, #ffffff);
}

.custom-navbar {
  border-radius: 50px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1050;
}

/* Search box style */
.search-box {
  border: 1px solid #ccc;
  padding: 4px 10px;
}

/* Call button */
.btn-call {
  background: #024291;
  color: #fff;
  border: none;
  padding: 6px 15px;
}

.btn-call:hover {
  background: #00316b;
  color: #fff;
}


.heading-text {
  margin: 115px 0 3px 0;
  font-size: 56px;
  font-family: 'Manrope', sans-serif;
  font-style: bold;
  font-weight: 700;
  letter-spacing: -2px;
}

.heading-p {
  font-size: 18px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}

.explore-btn {
  margin-top: 22px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 15px 25px;
  font-size: 15px;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #b2d3f8;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.explore-btn i {
  font-size: 11px;
  margin-left: 8px;
  transition: transform 0.3s ease;
}

.explore-btn:hover {
  background: linear-gradient(90deg, #0078ff, #005ce6);
  color: #fff;
  border-color: transparent;
  box-shadow: 0 4px 15px rgba(0, 120, 255, 0.3);
}

.explore-btn:hover i {
  transform: translate(3px, -3px);
}

.arrow {
  padding: 3px;
  border: 1px solid #b2d3f8;
  border-radius: 50px;
}

.partner-icon {
  width: 140px;
}

.partner-logox {
  margin-top: 35px;
}

.header-image {
  width: 100%;
  height: 740px;
  border-radius: 20px;
  margin: 0 30px;
  background: transparent;
  display: block;
}

.icond {
  position: relative;
}

.iconOne {
  width: 94px;
  position: absolute;
  top: 76px;
  left: 463px;
}

.iconTwo {
  width: 45px;
  position: absolute;
  top: 168px;
  left: 182px;
}

.iconThree {
  width: 45px;
  position: absolute;
  top: 186px;
  left: 456px;

}

.iconFour {
  width: 34px;
  position: absolute;
  top: 263px;
  left: 490px;

}

.iconFive {
  width: 34px;
  position: absolute;
  top: 289px;
  left: 88px;

}

.icontext {
  width: 252px;
  position: absolute;
  top: -11px;
  left: 17px;
  transform: rotate(-45deg);
}

.backgroundColor {
  background: linear-gradient(180deg, #f5f9ff 0%, #e9f2ff 100%);
}

.product-card {
  background: #fff;
  height: 103px;
  margin: 30px 17px;
  border-radius: 15px;
  gap: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

.product-card img {
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
}



.product-cardx {
  background: #fff;
  margin: 60px 30px;
  border-radius: 15px;
  gap: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.product-cardx:hover {
  transform: translateY(-8px);
}

.product-cardx img {
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.product-cardx h5 {
  font-size: 26px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  margin-top: 18px;
  cursor: pointer;
}

.product-cardx p {
  color: #687494;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 5px;
}

.socal-market i {
  border-radius: 10px;
  height: 180px;
  cursor: pointer;
}

.socal-market h5 {
  font-size: 26px;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-style: bold;
  font-weight: 600;
  margin-top: 18px;
  cursor: pointer;
}

.socal-market p {
  color: #687494;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 5px;
}

.text-service {
  margin-top: 15px;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-style: bold;
  font-style: bold;
  font-weight: 700;
}

.text-service-sub {
  margin-top: 4px;
  font-size: 14px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.sectionx {
  position: relative;
}

.learn-more {
  position: absolute;
  z-index: 11;
  left: 45%;
  display: block;
  margin: 20px auto 40px auto;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(90deg, #024291, #007AC3);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 120, 255, 0.3);
  transition: all 0.3s ease;
}

.relationship {
  margin: 140px auto;
  padding: 10px;
  box-shadow: 0 4px 15px rgba(223, 133, 133, 0.2);
  border-radius: 10px;
  background: #FFFFFF;
}

.businessrelationship {
  margin: 28px 0;
  font-size: 36px;
  font-family: 'Manrope', sans-serif;
  font-style: bold;
  font-weight: 700;
  color: #fff;
}

.businessrelationshipx {
  margin: 5px 0;
  font-size: 17px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #687494;
}

.relationship img {
  width: 100%;
  height: 350px;
}

.btnread {
  padding: 23px 30px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(90deg, #024291, #007AC3);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 120, 255, 0.3);
  transition: all 0.3s ease;
}

.btnreadx {
  margin: 40px 0;
}

.whyDolpin {
  width: 97%;
  margin: 2px auto;
  background-color: #007AC3;
}

.whyDolpin-text {
  margin-top: 30px;
  font-size: 50px;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-style: bold;
  font-weight: 700;
}

.whyDolpin-textx {
  margin-top: 30px;
  font-family: 'Manrope', sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 56px;
}

.whyDolpin-text p {
  font-size: 20px;
  margin: 12px 0 54px 0;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.whyDolpin-div {
  width: 70%;
  margin: 10px auto;
}

.whyDolpin-div img {
  width: 30%;
  height: 53px;
  margin: 20px auto 40px 10px;
}

.whyDolpin-div h5 {
  font-size: 15px;
  color: #000000;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
}

.whyDolpin-div p {
  font-size: 13px;
  color: #000000;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
}

/* kfjlgsdfjlk? */

.support-section {
  padding: 100px 0;
  text-align: center;
}

.support-section h2 {
  font-weight: 700;
  font-size: 40px;
  font-family: 'Manrope', sans-serif;
  font-style: bold;
  font-style: bold;
  margin-bottom: 20px;
}


.support-section p {
  background: linear-gradient(180deg, #dce3ee 0%, #e9f2ff 100%);
  max-width: 599px;
  margin: 0 auto 40px;
  color: #000000;
  font-size: 11px;
  line-height: 1.7;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.support-section .video-wrapper {
  position: relative;
  display: inline-block;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

.support-section .video-wrapper img {
  width: 100%;
  max-width: 600px;
  border-radius: 15px;
}

.support-section .watch-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: white;
  color: #000;
  border: none;
  font-weight: 600;
  border-radius: 30px;
  padding: 6px 15px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}


h2 span {
  color: #0078ff;
}

.products-section {
  background-color: #fff;
  padding: 80px 0;
}

.products-section h2 {
  margin-bottom: 50px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 47px;
  text-align: center;
  font-style: normal;
}

/* CARD DESIGN */
.product-cardy {
  position: relative;
  border: none;
  border-radius: 20px;
  height: 447px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.product-cardy:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.product-cardy img {
  width: 100%;
  height: 220px;
  object-fit: contain;
  padding: 20px;
}

/* BADGE LEFT */
.product-cardy .discount-badge {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #0078ff;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  border-radius: 30px;
  padding: 5px 10px;
}

/* VIEW ICON RIGHT */
.product-cardy .view-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #fff;
  color: #0078ff;
  font-size: 18px;
  border-radius: 50%;
  padding: 6px 9px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.3s;
}

.WeApproach {
  margin-top: 115px;
}

.product-cardy .view-icon {
  top: 21px;
  right: 42px;
}

.product-cardy .discount-badge {
  top: 21px;
  left: 42px;
}

.product-cardy .view-icon:hover {
  background: #0078ff;
  color: #fff;
}

.product-cardy .card-body {
  padding: 20px;
}

.reviews {
  color: #f39c12;
  font-size: 13px;
  margin-bottom: 8px;
}

.product-cardy h6 {
  font-size: 16px;
  font-weight: 600;
  color: #222;
  margin-bottom: 10px;
}

.price {
  color: #747474;
  font-weight: 600;
  font-size: 15px;
}

.gst {
  color: #666;
  font-size: 13px;
}

.btn-shop {
  position: absolute;
  bottom: 0px;
  text-align: start;
  text-align: left;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  color: #000000;
  border-radius: 30px;
  border: none;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 500;
}



.client-section {
  background: #fff;
  padding: 70px 0;
}

.client-section h2 {
  font-family: 'Manrope', sans-serif;
  font-size: 43px;
  font-weight: 700;
  font-style: bold;
  text-align: center;
  margin-bottom: 60px;
}

.client-section h2 span {
  color: #007ac3;
}

.client-card {
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  text-align: center;
  padding: 35px 25px;
  margin: 15px;
  transition: all 0.3s ease;
}

.client-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.client-card img {
  width: 80px !important;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin: 5px auto 20px auto;
}

.client-card h5 {
  font-size: 33px;
  font-weight: 600;
  font-family: 'Manrope', sans-serif;
  color: #000000;
  margin-bottom: 10px;
  font-style: bold;
}

.client-card h6 {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Manrope', sans-serif;
  color: #000000;
  margin-bottom: 10px;
  font-style: bold;
}

.client-card p {
  font-size: 13px;
  font-weight: 400;
  margin-top: 9px;
  font-family: 'Manrope', sans-serif;
  color: #000000;
  margin-bottom: 10px;
  font-style: bold;
}

/* Owl Dots Customize */
.owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-dot span {
  width: 10px;
  height: 10px;
  background: #cfd8e3;
  display: inline-block;
  border-radius: 50%;
  margin: 0 4px;
  transition: 0.3s;
}

.owl-dot.active span {
  background: #007ac3;
  transform: scale(1.2);
}

.owl-nav {
  display: none !important;
}

.software {
  background: linear-gradient(90deg, #024291, #007AC3);
  width: 100%;
}

.software h3 {
  font-size: 53px;
  font-weight: 700;
  font-family: 'Manrope', sans-serif;
  padding-top: 57px;
  font-style: bold;
  color: #FFFFFF;

}

.software p {
  font-size: 13px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  padding-top: 56px;
  font-style: normal;
  color: #FFFFFF;

}

.software img {
  width: 85%;
  margin: 80px auto 80px 30px;
}


.hardware {
  width: 100%;
}

.hardware h3 {
  font-size: 53px;
  font-weight: 700;
  font-family: 'Manrope', sans-serif;
  padding-top: 20px;
  font-style: bold;
  color: #000000;

}

.hardware p {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  padding-top: 16px;
  font-style: normal;
  color: #687494;

}

.hardware img {
  width: 85%;
  margin: 20px auto 20px 30px;
}

.hardwarebg {
  border: 1px solid rgb(219, 226, 235);
  background-color: #ffffff;
  box-shadow: 0 0 25px rgba(250, 234, 234, 0.6);
  margin-top: 70px;
}



.LatestBlog {
  background: linear-gradient(90deg, #00A0FF, #007AC3);
  width: 100%;
  margin-top: 150px;
  padding-bottom: 90px;
}

.LatestBlog h3 {
  font-size: 48px;
  font-weight: 700;
  font-family: 'Manrope', sans-serif;
  padding: 80px;
  font-style: bold;
  text-align: center;
  color: #ffffff;
}

.LatestBlog img {
  padding-top: 10px;
  width: 96%;
  margin: 6px auto;
}

.LatestBlog-text {
  width: 90%;
}

.LatestBlog-card {
  margin-left: 22px;
}

.LatestBlog h5 {
  font-size: 20px;
  font-weight: 700;
  font-family: 'Manrope', sans-serif;
  padding-top: 10px;
  font-style: bold;
  color: #000000;
}

.LatestBlog h6 {
  font-size: 20px;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  padding-top: 8px;
  padding-bottom: 8px;
  font-style: bold;
  color: #007AC3;
}

.LatestBlog p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Manrope", sans-serif;
  padding-top: 8px;
  padding-bottom: 8px;
  font-style: bold;
  color: #6B6A7E;
}

.LatestBlog-btn {
  background-color: #000000;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  color: #fff;
  font-weight: 500;
  padding: 12px;
  margin-bottom: 27px;
  box-shadow: 0 4px 10px rgba(0, 120, 255, 0.3);
  transition: all 0.3s ease;
  margin-left: 9px;
  border-radius: 16px;
}

.bg-athens h3 {
  font-size: 49px;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  margin-top: 160px;
  padding-top: 8px;
  padding-bottom: 18px;
  text-align: center;
  font-style: bold;
  color: #000000;
  letter-spacing: -5;
}



/* === ABOUT SECTION === */
.dolphin-about {
  background: linear-gradient(180deg, #002f6c 0%, #0057b8 100%);
  color: #fff;
  padding: 100px 0 0;
  width: 97%;
  margin: 0px auto;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.dolphin-about::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  top: -80px;
  left: -100px;
  filter: blur(40px);
}

.dolphin-about::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15);
  bottom: 80px;
  right: -50px;
  filter: blur(50px);
}

.dolphin-about h2 {
  font-size: 42px;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  font-style: bold;
  margin-bottom: 20px;
}

.dolphin-about p {
  font-size: 11px;
  font-family: "Geist", sans-serif;
  font-weight: 400;
  color: #cfe3ff;
  line-height: 1.7;
  width: 55%;
  margin: 0 auto 40px;
}

.dolphin-btn {
  background: #fff;
  color: #024291;
  border-radius: 30px;
  margin-bottom: 20px;
  padding: 10px 25px;
  border: none;
  font-weight: 700;
  font-family: "Manrope", sans-serif;
  font-style: bold;
  font-weight: 600;
  transition: 0.3s;
}

.dolphin-btn:hover {
  background: #0074e8;
  color: #fff;
}

/* === FOOTER SECTION === */
.dolphin-footer {
  width: 97%;
  margin: 0px auto;
  background: linear-gradient(180deg, #024291 0%, #007AC3 100%);
  color: #fff;
  padding: 80px 0 0;
  position: relative;
  z-index: -1;
}


.dolphin-footer h5 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 33px;
  line-height: 33px;
  letter-spacing: -3%;
  text-transform: uppercase;
  vertical-align: middle;
  margin-bottom: 20px;
  color: #fff;
}

.dolphin-footer ul {
  list-style: none;
  padding: 0;
}

.dolphin-footer ul li {
  margin-bottom: 10px;
}

.dolphin-footer ul li a {
  color: #cfe3ff;
  font-size: 15px;
  text-decoration: none;
  transition: 0.3s;
}

.dolphin-footer ul li a:hover {
  color: #fff;
}

.dolphin-newsletter {
  margin-top: 40px;
  text-align: center;
}

.dolphin-newsletter span {
  font-size: 34px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-style: bold;
  color: #ffffff;
}

.dolphin-newsletter input {
  border-radius: 30px;
  padding: 10px 20px;
  background-color: #ffffff;
  width: 300px;
  max-width: 90%;
}

.dolphin-newsletter button {
  border: none;
  background: #fff;
  color: #0057b8;
  border-radius: 30px;
  padding: 10px 25px;
  font-weight: 600;
  margin-left: 10px;
  transition: 0.3s;
}

.dolphin-newsletter button:hover {
  background: #0074e8;
  color: #fff;
}

/* === BIG DOLPHIN TEXT === */
.dolphin-big-text {
  text-align: center;
  font-size: 270px;
  font-weight: 800;
  opacity: 0.1;
  color: #fff;
  position: relative;
  z-index: 3;
}

.dolphin-payment-icons img {
  width: 45px;
  height: auto;
  filter: brightness(0) invert(1);
  transition: transform 0.3s ease;
}

.dolphin-payment-icons img:hover {
  transform: scale(1.1);
}

.dolphin-copy {
  font-size: 14px;
}


.dolphin-footer-bottom {
  text-align: center;
  color: #cfe3ff;
  font-size: 14px;
  padding: 25px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 40px;
}